<div class="edit-contract-page">
  <h2 class="main-title mb-3">Edit Contract</h2>
  <nav aria-label="breadcrumb" class="mb-3">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/contracts">Contracts</a></li>
      <li class="breadcrumb-item active" aria-current="page">Edit Contract</li>
    </ol>
  </nav>

  <div class="form-container">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="edit-form">
      <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
          <a class="nav-link active" id="parties-tab" data-bs-toggle="tab" href="#parties" role="tab"
            aria-controls="parties" aria-selected="true">Party Name Clause</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="other-details-tab" data-bs-toggle="tab" href="#other-details" role="tab"
            aria-controls="other-details" aria-selected="false">Other Clauses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="signatory-tab" data-bs-toggle="tab" href="#signatory" role="tab"
            aria-controls="signatory" aria-selected="false">Signature and Miscellaneous Details</a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane fade show active" id="parties" role="tabpanel" aria-labelledby="parties-tab">
          <div class="col-md-6">
            <div class="form-group">
              <label for="contractName" class="form-label">Client Name (remove from here) </label>
              <input type="text" class="form-control" id="contractName" formControlName="contractName">
              <div
                *ngIf="editForm.get('contractName')?.invalid && (editForm.get('contractName')?.dirty || editForm.get('contractName')?.touched)"
                class="error-message">
                Client name is required.
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="contractFor" class="form-label">Contract For</label>
              <select class="form-control" id="contractFor" formControlName="contractFor">
                <option value="">Select Here</option>
                <option *ngFor="let option of contractForOptions" [value]="option.value">{{ option.label }}</option>
              </select>
            </div>
          </div>
          <h5 class="form-section-title">Disclosing Party</h5>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="pncdp" class="form-label">Entity Type</label>
                <select class="form-control" id="pncdp" formControlName="pncdp">
                  <option value="">Select Here</option>
                  <option *ngFor="let option of pncdpOptions" [value]="option.value">{{ option.label }}</option>
                </select>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="pncdpCname" class="form-label">Entity Name</label>
                <input type="text" class="form-control" id="pncdpCname" formControlName="pncdpCname">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="pncdpCadd" class="form-label">Entity Address</label>
                <input type="text" class="form-control" id="pncdpCadd" formControlName="pncdpCadd">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="pncdpCpan" class="form-label">Entity PAN</label>
                <input type="text" class="form-control" id="pncdpCpan" formControlName="pncdpCpan">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="pncdpP1" class="form-label">Designated Person 1</label>
                <input type="text" class="form-control" id="pncdpP1" formControlName="pncdpP1">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="pncdpP1pan" class="form-label">Designated Person 1 PAN</label>
                <input type="text" class="form-control" id="pncdpP1pan" formControlName="pncdpP1pan">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="pncdpP2" class="form-label">Designated Person 2</label>
                <input type="text" class="form-control" id="pncdpP2" formControlName="pncdpP2">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="pncdpP2pan" class="form-label">Designated Person 2 PAN</label>
                <input type="text" class="form-control" id="pncdpP2pan" formControlName="pncdpP2pan">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="dpNickName" class="form-label">Designated Entity Name</label>
                <input type="text" class="form-control" id="dpNickName" formControlName="dpNickname">
              </div>
            </div>
          </div>

          <h5 class="form-section-title">Reciepient Party</h5>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="pncrp" class="form-label">Entity Type</label>
                <select class="form-control" id="pncrp" formControlName="pncrp">
                  <option value="">Select Here</option>
                  <option *ngFor="let option of pncrpOptions" [value]="option.value">{{ option.label }}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="pncrpCname" class="form-label">Entity Name</label>
                <input type="text" class="form-control" id="pncrpCname" formControlName="pncrpCname">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="pncrpCadd" class="form-label">Entity Address</label>
                <input type="text" class="form-control" id="pncrpCadd" formControlName="pncrpCadd">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="pncrpCpan" class="form-label">Entity PAN</label>
                <input type="text" class="form-control" id="pncrpCpan" formControlName="pncrpCpan">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="pncrpP1" class="form-label">Designated Person 1</label>
                <input type="text" class="form-control" id="pncrpP1" formControlName="pncrpP1">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="pncrpP1pan" class="form-label">Designated Person 1 PAN</label>
                <input type="text" class="form-control" id="pncrpP1pan" formControlName="pncrpP1pan">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="pncrpP2" class="form-label">Designated Person 2</label>
                <input type="text" class="form-control" id="pncrpP2" formControlName="pncrpP2">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="pncrpP2pan" class="form-label">Designated Person 2 PAN</label>
                <input type="text" class="form-control" id="pncrpP2pan" formControlName="pncrpP2pan">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="rpNickName" class="form-label">Designated Entity Name</label>
                <input type="text" class="form-control" id="rpNickName" formControlName="rpNickname">
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="other-details" role="tabpanel" aria-labelledby="other-details-tab">

          <h5 class="form-section-title">Recital Clause</h5>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="recRpb" class="form-label">Recipient Party Business</label>
                <input type="text" class="form-control" id="recRpb" formControlName="recRpb">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="recDpb" class="form-label">Disclosing Party Business</label>
                <input type="text" class="form-control" id="recDpb" formControlName="recDpb">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="recBusp" class="form-label">Business Purpose</label>
                <input type="text" class="form-control" id="recBusp" formControlName="recBusp">
              </div>
            </div>
          </div>
          <h5 class="form-section-title">Term Clause</h5>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="tcDur" class="form-label">Duration of Term</label>
                <input type="text" class="form-control" id="tcDur" formControlName="tcDur">
              </div>
            </div>
          </div>
          <h5 class="form-section-title">Liability Clause</h5>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="rc" class="form-label">Clause Type</label>
                <select class="form-control" id="rc" formControlName="rc">
                  <option value="">Select Here</option>
                  <option *ngFor="let option of rcOptions" [value]="option.value">{{ option.label }}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6 disabled" style="display: none;">
              <div class="form-group">
                <label for="obcBp" class="form-label">OBC BP (remove)</label>
                <input type="text" class="form-control" id="obcBp" formControlName="obcBp">
              </div>
            </div>
          </div>
          <h5 class="form-section-title">Governing Law</h5>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="gc" class="form-label">Clause Type</label>
                <select class="form-control" id="gc" formControlName="gc">
                  <option value="">Select Here</option>
                  <option *ngFor="let option of gcOptions" [value]="option.value">{{ option.label }}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="gcCountry" class="form-label">Governing Country</label>
                <input type="text" class="form-control" id="gcCountry" formControlName="gcCountry">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="gcCity" class="form-label">Governing City</label>
                <input type="text" class="form-control" id="gcCity" formControlName="gcCity">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="nsc" class="form-label">Non-Solicitation Clause</label>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="nsc" formControlName="nsc">
                  <label class="form-check-label" for="nsc">Add Clause</label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="signatory" role="tabpanel" aria-labelledby="signatory-tab">
          <h5 class="form-section-title">Disclosing Party</h5>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="sigDPName" class="form-label">Signature Name</label>
                <input type="text" class="form-control" id="sigDPName" formControlName="sigDPName">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="sigDPDes" class="form-label">Designation</label>
                <input type="text" class="form-control" id="sigDPDes" formControlName="sigDPDes">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="miscDPADD" class="form-label">Notice address, email and contact</label>
                <input type="text" class="form-control" id="miscDPADD" formControlName="miscDPADD">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="miscDpATT" class="form-label">Notice Attention</label>
                <input type="text" class="form-control" id="miscDpATT" formControlName="miscDpATT">
              </div>
            </div>
          </div>

          <h5 class="form-section-title">Reciepient Party</h5>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="sigRPName" class="form-label">Signature Name</label>
                <input type="text" class="form-control" id="sigRPName" formControlName="sigRPName">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="sigRPDes" class="form-label">Designation</label>
                <input type="text" class="form-control" id="sigRPDes" formControlName="sigRPDes">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="miscRPADD" class="form-label">Notice address, email and contact</label>
                <input type="text" class="form-control" id="miscRPADD" formControlName="miscRPADD">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="miscRPATT" class="form-label">Notice Attention</label>
                <input type="text" class="form-control" id="miscRPATT" formControlName="miscRPATT">
              </div>
            </div>
          </div>
        </div>
        </div>

      <div class="button-group mt-3">
        <button type="button" class="btn btn-secondary draft-button" (click)="saveToDraft()">Save to Draft</button>
        <button type="submit" class="btn btn-primary submit-button" [disabled]="editForm.invalid">Submit</button>
      </div>
    </form>
  </div>
</div>