<h2 class="main-title mb-4">Contracts</h2>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Contracts</li>
  </ol>
</nav>

<div class="contracts-file-explorer">
  @for (contract of contracts; track contract.contractId) {
  <div class="file-item">
    <div class="icon">
      <span class="material-symbols-outlined">description</span>
    </div>
    <div class="details">
      <div class="file-name">{{ contract.contractName }}</div>
      <div class="file-info">
        Library: {{ contract.contractLibrary }} | Created: {{ contract.crtDate | date:'yyyy-MM-dd' }} | Modified: {{ contract.mdydate | date:'yyyy-MM-dd' }}
      </div>
      <div class="progress-info">
        Progress:
        <div class="progress" data-bs-toggle="tooltip" data-bs-placement="top" [attr.title]="contract.progress + '%'">
          <div class="progress-bar progress-bar-striped"
               [ngClass]="{
                 'bg-info': getContractStatus(contract.progress) === 'Draft',
                 'bg-success': getContractStatus(contract.progress) === 'Completed',
                 'bg-warning': getContractStatus(contract.progress) === 'In Progress'
               }"
               role="progressbar"
               [style.width.%]="contract.progress > 100 ? 100 : contract.progress"
               aria-valuemin="0"
               aria-valuemax="100">
          </div>
        </div>
        <span class="badge" [ngClass]="{
          'bg-secondary': getContractStatus(contract.progress) === 'Draft',
          'bg-success': getContractStatus(contract.progress) === 'Completed',
          'bg-warning': getContractStatus(contract.progress) === 'In Progress'
        }">
          {{ getContractStatus(contract.progress) }}
        </span>
      </div>
    </div>
    <div class="actions">
      <button class="btn btn-sm btn-outline-primary" (click)="editContract(contract.contractId)">
        <span class="material-symbols-outlined">edit</span>
      </button>
    </div>
  </div>
  }
</div>

@if (contracts.length === 0 && !globalLoaderService.isLoading) {
  <p class="mt-3 text-muted">No contracts found.</p>
}