<div class="profile-container">
  <h2 class="profile-title">My Profile</h2>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Profile</li>
    </ol>
  </nav>
  <div class="profile-card">
    <div class="profile-card-body">
      <div class="profile-row">
        <div class="profile-col">
          <div class="form-group">
            <label class="form-label">User ID:</label>
            <div class="form-control-static">{{ userData.userid }}</div>
          </div>
          <div class="form-group">
            <label class="form-label">First Name:</label>
            <div class="form-control-static">{{ userData.firstName }}</div>
          </div>
          <div class="form-group">
            <label class="form-label">Last Name:</label>
            <div class="form-control-static">{{ userData.lastName }}</div>
          </div>
          <div class="form-group">
            <label class="form-label">Email:</label>
            <div class="form-control-static">{{ userData.emailid }}</div>
          </div>
        </div>
        <div class="profile-col">
          <div class="form-group">
            <label class="form-label">User Type:</label>
            <div class="form-control-static">{{ userData.userType }}</div>
          </div>
          <div class="form-group">
            <label class="form-label">Group Name:</label>
            <div class="form-control-static">{{ userData.groupName }}</div>
          </div>
          <div class="form-group">
            <label class="form-label">Group Type:</label>
            <div class="form-control-static">{{ userData.groupType }}</div>
          </div>
          <div class="form-group">
            <label class="form-label">Group Subtype:</label>
            <div class="form-control-static">{{ userData.groupSubtype }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>