<h2 class="main-title mb-3">Closed Contracts</h2>
<nav aria-label="breadcrumb" class="mb-2">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Closed Contracts</li>
  </ol>
</nav>

<div class="closed-contracts-list">
  @for (contract of closedContracts; track contract.contractId) {
  <div class="contract-item closed-contract-item">
    <div class="details">
      <div class="file-name">
        <span class="text-primary material-symbols-outlined document-icon">description</span>
        {{ contract.contractName }}
      </div>
      <div class="file-details">
        <span>Library: {{ contract.contractLibrary }}</span>
        <span class="created-date">Created: {{ contract.crtDate | date:'yyyy-MM-dd' }}</span>
        <span class="modified-date">Modified: {{ contract.mdydate | date:'yyyy-MM-dd' }}</span>
      </div>
      <span class="badge bg-secondary">Closed</span>
    </div>
    <div class="actions">
      <!-- (click)="viewContract(contract.contractId)" -->
      <button class="btn btn-sm btn-success bg-primary" >
        <span class="material-symbols-outlined">visibility</span> Read
      </button>
       <!-- (click)="downloadContract(contract.contractId)" -->
      <button class="btn btn-sm btn-success ms-2">
        <span class="material-symbols-outlined">download</span> Download
      </button>
    </div>
  </div>
  }
</div>

@if (closedContracts.length === 0 && !globalLoaderService.isLoading) {
  <p class="mt-2 text-muted">No closed contracts found.</p>
}


<!-- <div class="spin-wheel-container">
  <div class="wheel" [ngStyle]="{'transform': 'rotate(' + currentRotation + 'deg)'}">
    <div
      *ngFor="let segment of segments; let i = index"
      class="segment"
      [ngStyle]="getSegmentStyle(i)"
    >
      {{ segment }}
    </div>
  </div>
  <button (click)="spin()" [disabled]="isSpinning">Spin!</button>
  <div *ngIf="result" class="result">Landed on: {{ result }}</div>
</div> -->