.input-icon {
  position: relative;

  i {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
  }

  input {
    border-radius: 30px;
    padding: 1rem 1rem 1rem 3rem !important;
    font-size: 20px;
  }
}

small.error-message {
  position: absolute;
  top: 5px;
  left: 50px;
  color: red;
  display: block;
  margin-bottom: 1rem;
}

.form-control.ng-invalid.ng-touched {
  box-shadow: 0 0 16px -8px inset red;
}

.password-toggle {
  position: absolute;
  right: 1rem;
  top: 65%;
  transform: translateY(-70%);
  color: #888;
  cursor: pointer;
}

/* Angular Deep Scoped Styles */
::ng-deep input.form-control {
  background-color: #fff !important;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:disabled {
    background-color: #fff !important;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: #333 !important;
    background-color: transparent !important;
    transition: background-color 5000s ease-in-out 0s; // Disable transition
    animation: none; // Disable animation
  }

  &:-moz-autofill,
  &:-moz-autofill:hover,
  &:-moz-autofill:focus,
  &:-moz-autofill:active {
    background-color: transparent !important;
    color: #333 !important;
    transition: background-color 5000s ease-in-out 0s; // Disable transition
    animation: none; // Disable animation
  }
}

.loginWrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #2f4858;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginBox {
  width: 400px;
  margin: 0 auto;
  padding: 10% 10%;
  background: #fff;
  box-shadow: 0 0 50px -30px #000;
  border-radius: 55px;
}