<div class="row row-cols-xxl-4 row-cols-md-2 row-cols-1 text-center dashboard-stats">
  <div class="col dashboard-stats__item">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title dashboard-stats__title" title="Number of Orders">Total Orders</h5>
        <div class="dashboard-stats__data">
          <div class="dashboard-stats__icon">
            <span class="avatar-title dashboard-stats__avatar">
              <span class="material-symbols-outlined">shopping_cart</span>
            </span>
          </div>
          <h3 class="dashboard-stats__value">687.3k</h3>
        </div>
        <p class="card-text dashboard-stats__change">
          <span class="change-indicator change-down">
            <i class="material-symbols-outlined">arrow_downward</i> 9.19%
          </span>
          <span class="change-text">Since last month</span>
        </p>
      </div>
    </div>
  </div>

  <div class="col dashboard-stats__item">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title dashboard-stats__title" title="Total Returns">Total Returns</h5>
        <div class="dashboard-stats__data">
          <div class="dashboard-stats__icon">
            <span class="avatar-title dashboard-stats__avatar">
              <span class="material-symbols-outlined">undo</span>
            </span>
          </div>
          <h3 class="dashboard-stats__value">9.62k</h3>
        </div>
        <p class="card-text dashboard-stats__change">
          <span class="change-indicator change-up">
            <i class="material-symbols-outlined">arrow_upward</i> 26.87%
          </span>
          <span class="change-text">Since last month</span>
        </p>
      </div>
    </div>
  </div>

  <div class="col dashboard-stats__item">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title dashboard-stats__title" title="Avg. Sales Earnings">Avg. Sales Earnings</h5>
        <div class="dashboard-stats__data">
          <div class="dashboard-stats__icon">
            <span class="avatar-title dashboard-stats__avatar">
              <span class="material-symbols-outlined">payments</span>
            </span>
          </div>
          <h3 class="dashboard-stats__value">$98.24 USD</h3>
        </div>
        <p class="card-text dashboard-stats__change">
          <span class="change-indicator change-up">
            <i class="material-symbols-outlined">arrow_upward</i> 3.51%
          </span>
          <span class="change-text">Since last month</span>
        </p>
      </div>
    </div>
  </div>

  <div class="col dashboard-stats__item">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title dashboard-stats__title" title="Number of Visits">Number of Visits</h5>
        <div class="dashboard-stats__data">
          <div class="dashboard-stats__icon">
            <span class="avatar-title dashboard-stats__avatar">
              <span class="material-symbols-outlined">visibility</span>
            </span>
          </div>
          <h3 class="dashboard-stats__value">87.94M</h3>
        </div>
        <p class="card-text dashboard-stats__change">
          <span class="change-indicator change-down">
            <i class="material-symbols-outlined">arrow_downward</i> 1.05%
          </span>
          <span class="change-text">Since last month</span>
        </p>
      </div>
    </div>
  </div>
</div>


<div class="card mt-3">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead class="table__head">
          <tr class="winner__table">
            <th>S/N</th>
            <th><i class="fa fa-user" aria-hidden="true"></i> Winner Name</th>
            <th><i class="fa fa-map-marker" aria-hidden="true"></i> City</th>
            <th><i class="fa fa-calendar-o" aria-hidden="true"></i> Winning Date</th>
            <th> <i class="fa fa-phone" aria-hidden="true"></i> Mobile Number</th>
            <th><i class="fa fa-trophy" aria-hidden="true"></i> Reward</th>
          </tr>
        </thead>
        <tbody>
          <tr class="winner__table">
            <td>1</td>
            <td>Tom</td>
            <td>Kolkatta</td>
            <td>26 Sept,2020</td>
            <td>xxxxxx5288</td>
            <th>Gold Coin </th>
          </tr>

          <tr class="winner__table">
            <td>2</td>
            <td>Virat Bisht</td>
            <td>Kolkatta</td>
            <td>27 Sept,2020</td>
            <td>xxxxxx9688</td>
            <th>Gold Coin </th>
          </tr>

          <tr class="winner__table">
            <td>3</td>
            <td>Jack</td>
            <td>Kolkatta</td>
            <td>28 Sept,2020</td>
            <td>xxxxxx9197</td>
            <th>Gold Coin </th>
          </tr>

          <tr class="winner__table">
            <td>4</td>
            <td>Garry</td>
            <td>Ranchi</td>
            <td>29 Sept,2020</td>
            <td>xxxxxx0987</td>
            <th>Gold Coin </th>
          </tr>

          <tr class="winner__table">
            <td>5</td>
            <td>Uttam Tripura</td>
            <td>South Tripura</td>
            <td>1 Oct,2020</td>
            <td>xxxxxx0976</td>
            <th>Gold Coin </th>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>