<form [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()" autocomplete="off">
  <div class="modal-content">
    <div class="modal-header">
      <div class="modal-title">Update User Password</div>
      <button type="button" class="btn-close" (click)="activeModal.close('Close click')" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">User Name</label>
        <input type="text" class="form-control" readonly formControlName="identifier">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Old Password</label>
        <input type="text" class="form-control" placeholder="Enter Old Password" formControlName="oldPassword">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">New Password</label>
        <input type="text" class="form-control" placeholder="Enter New Password" formControlName="newPassword">
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
  </div>
</form>