<form [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()" autocomplete="off">
  <div class="modal-content">
    <div class="modal-header">
      <div class="modal-title">Update User Password</div>
      <button type="button" class="btn-close" (click)="activeModal.close('Close click')" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="mb-3">
        <label for="userName" class="form-label">User Name</label>
        <input type="text" class="form-control" id="userName" readonly formControlName="identifier">
      </div>
      <div class="mb-3">
        <label for="oldPassword" class="form-label">Old Password</label>
        <input type="password" class="form-control" id="oldPassword" placeholder="Enter Old Password"
          formControlName="oldPassword">
        @if (updatePasswordForm.get('oldPassword')?.invalid && (updatePasswordForm.get('oldPassword')?.dirty ||
        updatePasswordForm.get('oldPassword')?.touched)) {
        <div class="text-danger">
          @if (updatePasswordForm.get('oldPassword')?.errors?.['required']) {
          <div>Old Password is required.</div>
          }
        </div>
        }
      </div>
      <div class="mb-3">
        <label for="newPassword" class="form-label">New Password</label>
        <input type="password" class="form-control" id="newPassword" placeholder="Enter New Password"
          formControlName="newPassword">
        @if (updatePasswordForm.get('newPassword')?.invalid && (updatePasswordForm.get('newPassword')?.dirty ||
        updatePasswordForm.get('newPassword')?.touched)) {
        <div class="text-danger">
          @if (updatePasswordForm.get('newPassword')?.errors?.['required']) {
          <div>New Password is required.</div>
          }
          @if (updatePasswordForm.get('newPassword')?.errors?.['weakPassword']) {
          <div>Password must be at least 8 characters long and contain at least one number, one letter, and one special
            character.</div>
          }
        </div>
        }
      </div>
      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm New Password</label>
        <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm New Password"
          formControlName="confirmPassword">
        @if (updatePasswordForm.get('confirmPassword')?.invalid && (updatePasswordForm.get('confirmPassword')?.dirty ||
        updatePasswordForm.get('confirmPassword')?.touched)) {
        <div class="text-danger">
          @if (updatePasswordForm.get('confirmPassword')?.errors?.['required']) {
          <div>Confirm New Password is required.</div>
          }
          @if (updatePasswordForm.get('confirmPassword')?.errors?.['passwordMismatch']) {
          <div>Passwords do not match.</div>
          }
        </div>
        }
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" [disabled]="updatePasswordForm.invalid">Save changes</button>
    </div>
  </div>
</form>